/* share style */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;400;600;700&display=swap');


:root{
    --primary-color: #FF42A5;
    --fontp-color:  #3C354F;
    --primary-font-size: 18px;
    --primar-font-width:500;
    --granent-colo:#FF42A5;
}
*{
    font-family: 'Work Sans', sans-serif;

}
.btn_primary{
   padding :21px 40px;
   gap:10px;
   border-radius: 48px;
   margin-right:24px;
   background-color: var(--primary-color);
   border: none;
   font-size: 20px;
   font-weight: 600;
   color: #FFF;
}

/* body{
    max-width: 1426.6px;
    margin: 0 auto;
} */

/* header */


header{
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
 .nav{
    display: flex;
    justify-content:space-between;
    margin: 0 12.5rem;
 } 
.nav-left{
    display: flex;
    align-items: center;
}
.logo{
    margin-right:1.2rem ;
}
.nav-left-text{
   font-size: 45px;
   font-weight: 700px;
}
 .head_ul{
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .header-btn{
    display: flex;
    align-items: center;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    margin: 0;
    padding: 10px;
 }
 .header-btn li {
    list-style: none;
 }
 .header-btn li> a{
    text-decoration: none;
    font-size: var(--primary-font-size);
    font-weight: var(--primar-font-width);
    padding: 18px 24px;
 }
 .head_ul >ul{
    display: flex;
    align-items: center;
 }
.head_ul >li{
    list-style: none;
    margin-right:2rem ;
}
.head_ul >li > a{
    text-decoration: none;
}
/* main banner secitn */
.banner{
    display:flex;
    justify-content: space-around;
    
}
.bannert-title{
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 0;
}
.bannert-tilet-logo{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 6rem;
    font-weight: 800;
    color: var(--granent-colo);
    
}
.banner-left-center{
    padding-top: 9.25rem;
}

.banner-left-discription{
    display: flex;
    flex-direction: column;
}
.banner-left-center >p{
    font-weight: 500;
    font-size:20px ;
    color: var(--fontp-color );
}
.btn_banner{
    background: #4EC5F7;
}

.gamer{
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.gamer-left{
    margin-left: 7.5rem;
}

.gamer-right{
   text-align: right;
   margin-right: 15rem;
 
}
.gamer_title{
    font-size: 3rem;
    font-weight: 700;
    color: var(--granent-colo);
    margin-bottom: 0;
}
.gamer-discription,.ellips{
    font-size: var(--primary-font-size);
    font-weight: var(--primar-font-width);
}
.gamer-title-end{
    font-size: 2rem;
    font-weight: 700;
}
.btn-gamer{
    margin: 0;
}
.online{
   display: flex;
   flex-direction: column;
   margin-top: 10rem;
   margin-left: 13rem;
   margin-right: 13rem;
   text-align: center;
}
.online-content{
    margin-left: 3rem;
    margin-bottom:1rem ;
}
.onlin-title{
  font-size: 3rem;
  color: #0B0223;
  margin-bottom: 1rem;
}
.online_discriptionf{
    font-size: var(--primary-font-size);
    font-weight: var(--primar-font-width);
    color: var(--fontp-color);
    
}
.online-card{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.onlie-card-1{
    position: relative;
}
.card-1{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0B0223;
    opacity: 0;
    border-radius: 1rem;
    border: 2px solid red;
    box-shadow: 0px 2px 10px red;
}
.card-1-sub{
    display:flex;
    justify-content: space-around;
    flex-direction: column;
    margin: 35%  30%;
    background-color: none;
     color: red;
     cursor: pointer;
}
.card-1-sub img{
    margin-bottom: 10%;
}
.online-card-stats{
    display: flex;
    justify-content: space-around;
    margin-bottom: 8rem;
}

/* hover online gemes */
.onlie-card-1:hover .card-1{
     opacity: 0.8;
}
.play{
    display: flex;
    margin: 0 12rem;
}
.paly-left{
    text-align: right;
    flex-direction: column;
    margin: 7rem;
    padding-right: 10rem;
    padding-top: 5rem;
}
.play-discription{
    font-size: var(--primary-font-size);
    color: var(--fontp-color);
    font-weight: var(--primar-font-width);
}
.play-title{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 0;
    
}
.play-title >span{
    color: var(--granent-colo);
}
.paly-right{

    position: relative;
}
.main-pic{
    position: absolute;
    top: 0;
    left: 0;
}
.sub-pic{
    position: absolute;
    top:22rem;
    left: -11rem;
}
.game{
margin: 10rem  15rem 0 15rem;
display: grid;
 grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
 
 gap: 2rem;
 row-gap: 5rem;
}
.game-top-li{
    display: flex;
    align-items: center;
    border: none;
    background: none;
}

/* hover */
.game-top-li:hover {
    color: red;
    border: 2px solid  var(--primary-color);
    border-radius: 1.6rem;
}

/* footer */

.footer{
    background-color: #0B0223;
    color: white;
    text-align: center;
    padding:0 20rem;
}
.footer-h3{
    color: white;
}
#span{
    color: #FF42A5;
}
.footer-logo{
    padding: 5rem;
    padding-left: 42%;
    margin-bottom: 0;
    padding-bottom: 0;

}
.footer-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
 .fa-twitter {
    font-size: 1rem;
    margin: 1rem;
}
.logo-down{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
}
.hidden{
    display: none;
}




/* responsibe */


@media screen and (max-width:576px){

.nav,.nav-left,.head_ul{
    flex-direction: column;
}
.header-btn{
    padding:0;
    margin-top: 2rem;
}
.header-btn li>a{
    font-size: 1rem;
}
.nav{
    margin: 0;
}
.nav-left-text{
    margin-bottom: 0;
}





.banner{
    flex-direction: column-reverse;
    margin: 2rem 1rem;
}
.banner-left{
    margin-left: 1.5rem ;
}
.banner-right >img{
    width: 100%;
}

.bannert-title{
    font-size: 2rem;
}
.bannert-tilet-logo{
    font-size: 4rem;
}
.banner-left-center > p{
    font-size: 0.9rem;
}
.btn_primary{
    font-size: 0.9rem;
    padding: 1rem 2rem;
}




.gamer{
    flex-direction: column;
}
.gamer-left > img {
    width: 100%;
}
.gamer-right{
    text-align: center;
    margin: 0 1.8rem
}
.gamer_title{
    font-size: 2rem;
}
.gamer-discription{
    font-size: 0.9rem;
}



.online{
    margin:  0 1rem;
}
.onlin-title{
    font-size: 2rem;
}
.online-content{
    margin: 0;
}
.online-card{
    flex-direction: column;
}

.play{
    flex-direction: column;
    margin: 0 2rem;
}
.paly-left{
    margin: 0;
    padding:0;
    text-align: center;
}
.paly-right > .main-pic{
    width: 80%;
}
.paly-right > .sub-pic{
   width: 20%;
}
.sub-pic{
    position:absolute;
    top:11.5rem;
    left:-17px;
}
.play-title{
    font-size: 2rem;
}
.play-discription{
    font-size: 0.8rem;
}
.paly-right{
    margin-left: 2rem;
}
.game{
    flex-direction: column;
    padding: 0;
    margin: 12rem 0 0 0;
}
.game{
    margin-left: 20px;
    padding-top: 100px;
    display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     gap: 0px;
    }
.game-top-li{
    font-size: 0.rem;
    padding: 0;
    margin: 0;
    border: none;
}
.game-top-li >img{
    width: 15%;

}
.footer{
    margin: 0;
    padding: 0;
}
.footer-logo{
    margin:0;
    padding: 0;
    padding-top: 3rem;
}
.footer-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
}
 .fa-twitter {
    font-size: 1rem;
    margin: 1rem;
}
.logo-down{
   display: grid;
   grid-template-columns: 1fr 1fr;
}


   
}



/* tablete */
@media screen and (min-width:576px) and (max-width:768px){
       .nav{
        margin:  1rem;
       }
       .nav{
        flex-direction: column;
        justify-content: center;
       }
       .nav-left{
        justify-content: center;
       }



       .banner{
        flex-direction: column;
       }
       .banner-right >img{
        width: 100%;
    }
    .banner-left{
        text-align: center;
    }



    .gamer{
        flex-direction: column;
    }
    .gamer-left > img {
        width: 100%;
    }
    .gamer-right{
        text-align: center;
        margin: 0 3rem
    }


    .online-card{
        flex-direction: column;
    }
    .online{
        margin: 0 2rem;
    }
    .play{
        flex-direction: column;
        margin: 0 2rem;
    }
    .paly-left{
        margin: 0;
        padding:0;
        text-align: center;
    }
    .paly-right > .main-pic{
        width: 90%;
    }
    .paly-right > .sub-pic{
       width: 20%;
    }
    .sub-pic{
        position:absolute;
        top:30rem;
        left:-30px;
    }
    .paly-right{
        margin-left: 2rem;
    }
    .game{
        flex-direction: column;
        padding: 0;
        margin: 12rem 0 0 0;
    }
    .game{
       margin:  0px;
       padding-top: 50rem;
        display: grid;
         grid-template-columns: 1fr 1fr 1fr ;
         gap: 2rem;
        }
    .game-top-li{
        font-size: 0.rem;
    }
    .footer{
        margin: 0;
        padding: 0;
    }
    .footer-logo{
        margin:0;
        padding: 0;
        padding-top: 3rem;
    }

}